.BuyHead {
  text-align: center;
  font-family: 'Telegraf UltraBold 800', sans-serif;
  font-size: 14px;
}

.imageContainer7 {
  width: 140px; 
  height: 12vh;
  background-image: url("/image/product.webp");
  background-position: center;
  background-size: cover;
}

.BuyDetailsMain {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 10px;
  width: 100%;
  margin-top: 10%;
}

.table {
    font-size: 14px;
    width: 70%; 
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px; 
}


.BuyDetailsButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Telegraf UltraBold 800', sans-serif;
  font-size: '15px';
  color: #cccccc;
}

.BuyDetailsButton1 {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  color: #cccccc;
  font-family: 'Telegraf UltraBold 800', sans-serif;
  font-size: 20px;
}

.BuyName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  text-align: left;
}

.BuyNameMain {
  font-family: 'Telegraf UltraBold 800', sans-serif;
  font-size: 14px;
  color: black;
}

.BuyNameSub {
  color: #000000;
  display: block;
  font-size: 14px;
  font-family: 'Telegraf Regular 400', sans-serif;
  font-Weight: normal;
}

.BuyPrice {
  margin-top: 70px;
  margin-right: 10px;
  font-family: 'Telegraf Regular 400', sans-serif;
  font-size: 15px;
  color: black;
}

.borderbottom{
  border-bottom: solid 1px #8d8d8d;
}