/* .buyLeft {
    justify-content: center;
    align-items: center;
}

.para {
    font-family: 'Telegraf Regular 400';
    font-size: 15px;
    text-align: center;
}

.para1 {
    font-family: 'Telegraf Regular 400';
    font-size:15px;
    margin-top: 50px;
    text-align: center;
}

.paraColor {
    color: #dd7579;
} */

.container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }

  .container > form {
    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
  }

  .pre {
    width: 70%;
    color: #fff;
    font-size: larger;
  }
  
  .button {
    background: hsl(208, 95%, 36%) !important;
  }
  /* p {
    color: red;
  } */