.BuyOrder {
  font-family: 'Telegraf UltraBold 800', sans-serif;
  text-transform: none;
  margin-top: 20%;
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 15px;
  color: white;
  background-color: #ff9900;
}

.BuyOrder:hover {
  background-color: #ff9900;
}

.sidebar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  /* right: -300px;  */
  width: 420px; 
  height: 100%; 
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  transition: right 0.3s ease-in-out; 
}

.sidebar.open {
  right: 0; 
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #8d8d8d; 
}
