.h1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Telegraf UltraBold 800';
}

.h2 {
    font-size: 25px;
    font-family: 'Telegraf UltraBold 800';
    margin-top: 40px;
}

.rating {
    font-family: 'Telegraf Regular 400';
    font-size: 20px;
    margin-top: 20px;
}

.para {
    font-family: 'Telegraf Regular 400';
font-size: 20px;
font-style: italic;
margin-top: 20px;
line-height: 1.5em;
}

.customer {
    font-family: 'Telegraf Regular 400';
font-size: 20px;
margin-top: 30px;
}