.BuySummary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.BuySummaryMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.BuySummarySub {
  font-family: 'Telegraf UltraBold 800', sans-serif;
  font-size: 16px;
  margin-bottom: -25%;
}

.BuySummarySubSub {
  font-family: 'Telegraf UltraBold 800', sans-serif;
  font-size: 16px;
  margin-bottom: -25%;

}