.BuySummary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.BuySummaryMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 10px; */
}

.BuySummarySub {
  font-family: 'Telegraf UltraBold 800', sans-serif;
  font-size: 16px;
  /* margin-bottom: -25%; */
}

.BuySummarySubSub {
  font-family: 'Telegraf UltraBold 800', sans-serif;
  font-size: 16px;
  color: black;
  margin-right: 10px;
}

.borderbottom{
  margin-top: 50%;
  margin-bottom: 15px;
  border-bottom: solid 1px #8d8d8d;
}

@media (max-width: 768px) {
  .borderbottom{
    margin-top: 100%;
   }
}