.buy {
    /* background-color: yellow; */
}

.buyContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
}

.buyLeftContainer {
    border-right: solid 2px #e6e7e9;
    border-bottom: solid 2px #e6e7e9;
    padding: 20px;
}

.buyRightContainer {
    padding: 20px;
}

.imageContainer1 {
    width: 100%; 
    height: 25vh;
    background-image: url("/image/logoImages.png");
    background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;
    text-align: center;
}

.buyTop {
    padding: 20px;
}