.PlaceOrderSummaryHead {
  margin-top: -20px;
}

.PlaceOrderSummary {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-top: 10%;
  }

.imageContainer7 {
    width: 140px;
    height: 12vh;
    background-image: url("/image/product.webp");
    background-position: center;
    background-size: cover;
  }

  .PlaceOrderSummaryMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    text-align: left;
  }
  
  .PlaceOrderSummarySub {
    font-family: 'Telegraf UltraBold 800', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
  }
  

  .space {
    padding-left: 10px;
  }

  .h1 {
    font-size: 14px;
    font-family: 'Telegraf Regular 400', sans-serif;
  }

  .h2 {
    font-size: 13px;
    font-family: 'Telegraf Regular 400', sans-serif;
  }

  .para {
    font-size: 13px;
    font-family: 'Telegraf Regular 400', sans-serif;
  }

  .PlaceOrderSummaryTable {
    margin-top: 30px;
    flex-direction: column;
    display: flex;
    gap: 10px;
  }

  .PlaceOrderSummaryTable1 {
    display: flex;
  justify-content: space-between;

  }
  
  .thead1{
    font-family: 'Telegraf UltraBold 800', sans-serif;
    font-size: 14px;
  }

  .border {
    border-bottom: 1px solid #eaeaea;
    margin-top: 10px;
    margin-bottom: 10px;
  }