.PlaceOrderMobileOTP{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  justify-content: center;
}

.h1 {
  font-family: 'Telegraf UltraBold 800', sans-serif;
  font-size: 22px;
  text-align: center;
}

.para {
  font-family: 'Telegraf Regular 400';
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.center {
  font-family: 'Telegraf Regular 400';
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.boxnote {
  display: flex;
  margin-top: 15px;
  gap: 15px;
  justify-content: space-between;
}

.box {
  border: solid 1px red;
  padding: 12px;
  /* border-radius: 5px; */
  width: 100%;
}

.center1 {
  font-family: 'Telegraf Regular 400';
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
}

.bgcolor {
  color: red;
}