.PlaceOrderMobileOTP{
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  font-family: 'Telegraf UltraBold 800';
  font-size: 16px;
  text-align: center;
}

.para {
  font-family: 'Telegraf Regular 400';
  text-align: center;
  font-size: 14px;
}

.center {
  font-family: 'Telegraf Regular 400';
  text-align: center;
  font-size: 14px;
}

.boxnote {
  display: flex;
  justify-content: space-between;
}

.box {
  border: solid 1px red;
  border-radius: 5px;
  width: 50%;
}

.center1 {
  font-family: 'Telegraf Regular 400';
  text-align: center;
  font-size: 12px;
}

