/* PlaceOrderMobile.module.css */
.PlaceOrderMobile {
  font-family: 'Telegraf UltraBold 800', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  font-size: 18px;
}

.PlaceOrderText {
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
}

.PlaceOrderNote{
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  font-family: 'Telegraf Regular 400';
  cursor: pointer;
}

.checkboxLabel {
  display: flex;
  align-items: center; /* Center the checkbox and text vertically */
  color: black; /* Text color */
  cursor: pointer;
}

.checkboxInput {
  color: #f0775a; /* Checkbox color when checked */
  cursor: pointer;
}

