.place-order-stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  border-bottom: solid 1px black;
  padding: 5px;
}

.bgcolor {
  background: #d1d1d1;
  border-radius: 50%;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
}

.bgcolor1 {
  background: brown;
  border-radius: 50%;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.step {
  flex: 1;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.active {
  flex: 1;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  color: black;
}

.space {
  padding-left: 10px;
}

.disabled {
  color: brown; 
  font-weight: bold;
}

.disabled1 {
  color: grey; 
  font-weight: bold;
}

.title {
color: brown;
}

.title1 {
  color: green;
  }

.checkIcon {
  background: green; /* Background color for the CheckIcon */
  border-radius: 50%;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black; /* Text color for the CheckIcon */
}
