.placeOrderAddress{
  font-size: 15px;
  margin-top: 15px;
  font-family: 'Telegraf UltraBold 800', sans-serif;
}

.placeOrderAddressMain {
  display: flex;
}

.placeOrderAddressSub {
  display: flex;
  flex-direction: row;
}


