/* PlaceOrderMobile.module.css */
.PlaceOrderMobile {
  font-family: 'Telegraf UltraBold 800', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  font-size: 18px;
}

.PlaceOrderText {
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
}

.PlaceOrderNote{
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  font-family: 'Telegraf Regular 400';
  cursor: pointer;
}

.checkboxLabel {
  display: flex;
  align-items: center; /* Center the checkbox and text vertically */
  color: black; /* Text color */
  cursor: pointer;
}

.checkboxInput {
  color: #f0775a; /* Checkbox color when checked */
  cursor: pointer;
}

.PlaceOrderFooter{
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  }

.PlaceOrderButton {
  display: flex;
  justify-content:center;
  align-items: center;
  background: black;
  width: 50%;
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.PlaceOrderButtonDisabled {
  display: flex;
  justify-content:center;
  align-items: center;
  background: red;
  width: 50%;
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.space {
  padding-left: 10px;
  vertical-align: middle;
}