.place-order-stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  border-bottom: solid 1px black;
  padding: 5px;
}

.bgcolor {
  background: #d1d1d1;
  border-radius: 50%;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
}

.bgcolor1 {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  color: white;
}

.bgcolor2{
color: brown;
padding: 10px;
border-radius: 50%;
cursor: pointer;
border: 1px solid brown;
}

.bgcolor2a{
  color: gray;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid brown;
  }

.bgcolor3{
  color: green;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid green;
  }

  .bgcolor3a{
    color: gray;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid green;
    }

.step {
  flex: 1;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.active {
  flex: 1;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  color: black;
}

.space {
  padding-left: 10px;
}

.disabled {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  color: gray;
}


.disabled1{
  color: gray;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid gray;
  }

.title {
color: brown;
}

.title1 {
  color: green;
  }

  .title2 {
    color: gray;
    }

.checkIcon {
  background: green; /* Background color for the CheckIcon */
  border-radius: 50%;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 5px;
  color: black; /* Text color for the CheckIcon */
}

