.shop1 {
height: 100vh;
width: 100%;
padding-left: 5%;
padding-right: 5%;
padding-top: 5%;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px; 
  width: 420px; 
  height: 100%; 
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  transition: right 0.3s ease-in-out; 
}

.sidebar.open {
  right: 0; 
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333; 
}

.inputQuantity {
  border: none;
  width: 85%;
  margin-top: 20px;
  padding: 10px;
  background: black;
  color: white;
  font-size: 15px;
  text-align: center;
  outline: none;
}


.shop1Main {
  display: flex;
  gap: 3%;
}

.shop1Sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  border: none;
}

.custominput {
  font-family: 'Telegraf UltraBold 800', sans-serif;
  color: white;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.customtextfield {
  /* Add your desired styles here */
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

.shop1SubSub {
  display: grid;
  justify-content: center;
  grid-template-columns: 0.5fr 2fr;
}

.imageContainer1 {
    width: 750px; 
    height: 100vh;
    background-image: url("/image/product.webp");
    background-position: center;
    background-size: cover;
}

.imageContainer2 {
  width: 750px; 
  height: 100vh;
  background-image: url("/image/product1.webp");
  background-position: center;
  background-size: cover;
}

.imageContainer3 {
  width: 750px; 
  height: 100vh;
  background-image: url("/image/product2.webp");
  background-position: center;
  background-size: cover;
}

.imageContainer4 {
  width: 750px; 
  height: 100vh;
  background-image: url("/image/product3.webp");
  background-position: center;
  background-size: cover;
}

.imageContainer5 {
  width: 750px; 
  height: 100vh;
  background-image: url("/image/product4.webp");
  background-position: center;
  background-size: cover;
}

.imageContainer6 {
  width: 750px; 
  height: 100vh;
  background-image: url("/image/product5.webp");
  background-position: center;
  background-size: cover;
}

.imageContainer7 {
  width: 100px; 
  height: 10vh;
  background-image: url("/image/product.webp");
  background-position: center;
  background-size: cover;
}

.h1 {
  font-family: 'Telegraf UltraBold 800';
  color: #4f7694;
  width: 100%;
  font-size: 45px;
}

.h2 {
  font-family: 'Telegraf UltraBold 800';
  font-size: 42px;
  margin-top: 10px;
}

.footnote {
  font-family: 'Telegraf Regular 400';
  margin-top: 20px;
  font-size: 12px;
}

.boxnote {
  background-image: url("/image/background.webp");
  padding: 30px 22px;
  background-size: 100% 100%;
  margin-top: 15px 0px 40px;
  /* background-color: #fff8b7; */
  filter: hue-rotate(70deg);
}


.boxnoteh1 {
  font-family: 'Telegraf UltraBold 800';
  font-size: 18px;
  color: #db6891;
}

.boxnotePara {
  font-family: 'Telegraf Regular 400';
  font-size: 14px;
  line-height: 1.5em;
  margin-top: 20px;
}

.boxnotePara1 {
  font-family: 'Telegraf Regular 400';
  font-size: 14px;
  line-height: 1.5em;
}


.button {
  background-color: black;
  color: white;
  font-family: 'Telegraf UltraBold 800';
  font-size: 14px;
cursor: pointer;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add a smooth transition effect */
}

.button:hover {
  background-color: white; /* Change background color on hover */
  color: black; /* Change text color on hover */
}


.list{
  font-family: 'Telegraf Regular 400';
  font-size: 14px;
  margin-top: 20px;
  padding: 3%;
  line-height: 1.5em;
}

.customfont {
  font-family: 'Telegraf Regular 400';
  display: flex;
  align-items: center; 
  margin-right: 20px;
}

.button1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.size {
  display: flex;
  gap: 10px;
  font-family: 'Telegraf Regular 400';
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}




@media (max-width: 768px) {
  .shop1Main {
    flex-direction: column; 
  }
  
  .shop1Sub {
    margin-top: 20px;
  }
  
  .imageContainer1,
  .imageContainer2,
  .imageContainer3,
  .imageContainer4,
  .imageContainer5,
  .imageContainer6 {
    max-width: 100%; 
    height: 50vh; 
  }
 
}