.choose {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: 100vh;
  /* padding-left: 5%; */
  gap: 50px;
}

.imageContainer2 {
  width: 100%; 
  height: 30vh;
  background-image: url("/image/choose6.png");
  /* background-position: center; */
  background-size: contain; 
  background-repeat: no-repeat; 
}


.chooseMain{
  display: flex;
  flex-direction: column;
  padding-left: 15%;
}

.img {
  width: 100%;
  margin-top: 20px;
}

.img1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.img2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridItem {
  width: 100%;
}

.h1{
  font-family: 'Telegraf UltraBold 800';
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 7rem;
}

.para {
  font-family: 'Telegraf Regular 400';
  font-size: 16px;
  margin-top: 30px;
}

.imageContainer1 {
  width: 100%; 
  height: 100vh;
background-image: url("/image/choose.png");
background-position: center;
background-size: cover;
}


@media screen and (max-width: 768px) {
  .choose {
    grid-template-columns: 1fr; /* Switch to a single column layout */
    padding: 5% 10%; /* Adjust padding for mobile display */
  }

  .chooseMain {
    padding: 0; /* Remove left padding */
  }

  .img {
    margin-top: 10px; /* Adjust margin for mobile spacing */
  }

  .h1 {
    font-size: 28px; /* Reduce font size for mobile */
    margin-top: 4rem; /* Adjust top margin for mobile */
  }

  .para {
    font-size: 14px; /* Reduce font size for mobile */
    margin-top: 20px; /* Adjust margin for mobile spacing */
  }

  .imageContainer1 {
    height: 50vh; /* A djust height for mobile display */
  }

  .imageContainer2 {
    height: 15vh; /* Adjust height for mobile display */
  }
}