.navbar {
  background: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 40px;
  align-items: center;  
}

.navbarHead {
  font-family: 'Telegraf UltraBold 800';
color: white;
  font-size: 36px;
  text-align: left;
}

.navbarLogo {
  text-align: right;
}

.navbarImage {
  /* width: 100%; */
}

.imageContainer1 {
  width: 10%; 
  height: 15vh;
  background-image: url("/image/logoImages.png");
  background-position: center;
  background-size: contain; 
  background-repeat: no-repeat; 
}


@media (max-width: 768px) {
  .navbar {
    padding: 10px; 
  }

  .navbarHead {
    font-size: 20px;
  }
  
}


