.shop {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 20px;
}

.shopMain {
  display: flex;
  gap: 10px;
}

.shopMain1 {
  display: flex;
  gap: 10px;
}

.shopMain2 {
  display: flex;
  flex-direction: column;
}

.imageContainer1 {
  width: 50%; 
  height: 50vh;
  background-image: url("/image/choose.png");
}

.imageContainer2 {
  width: 50%; 
  height: 50vh;
  background-image: url("/image/choose.png");
}