.size {
  width: 100%;
  height: 100vh;
  padding-top: 5%;
  padding-bottom: 10%;
  position: relative; 
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contentContainer {
   /* margin-left: 40%; */
    display: flex;
  align-items: center;
  justify-content: center;
}

.sizeImageWrapper {
  margin-top: 60px; 
}


.sizeMain {
  display: grid;
  width: 100%;
  margin-top: 40px;
  padding-left: 15%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  color: white;
}

.sizeSub {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 10px;
}

.h1 {
  font-family: 'Telegraf UltraBold 800';
  font-size: 36px;
  font-weight: bold;
  color: #fee600;
}

.bullet {
  font-family: 'Telegraf Regular 400';
  font-size: 16px;
  line-height: 1.5em;
}

.imageContainer1 {
  width: 100%; 
  height: 100vh;
background-image: url("/image/size2.png");
background-position: center;
background-size: cover;
}

.imageContainer2 {
  width: 50%; 
  height: 15vh;
  background-image: url("/image/sizeCup1.png");
  background-position: center;
  background-size: contain; 
  background-repeat: no-repeat; 
}


@media screen and (max-width: 768px) {
  .size {
    padding-top: 10%; /* Increase top padding for mobile display */
  }

  .sizeMain {
    grid-template-columns: 1fr; /* Switch to a single column layout */
    padding: 15%; /* Remove left padding */
  }

  .sizeSub {
    width: 100%; /* Full width for mobile display */
    padding: 0 15px  /* Add horizontal padding for mobile */
  }

  .h1 {
    font-size: 28px; /* Reduce font size for mobile */
  }

  .bullet {
    font-size: 14px; /* Reduce font size for mobile */
  }

  .imageContainer1 {
    height: 100vh; /* Adjust height for mobile display */
  }

  .imageContainer2 {
    width: 100%; /* Full width for mobile display */
    height: 15vh; /* Adjust height for mobile display */
  }
}
