.size {
  width: 100%;
  padding-top: 5%;
  position: relative; 
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contentContainer {
   /* margin-left: 40%; */
    display: flex;
  align-items: center;
  justify-content: center;
}

.sizeImageWrapper {
  margin-top: 60px; 
}


.sizeMain {
  display: grid;
  width: 100%;
  margin-top: 40px;
  padding-left: 15%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  color: white;
}

.sizeSub {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 10px;
}

.h1 {
  font-family: 'Telegraf UltraBold 800';
  font-size: 36px;
  font-weight: bold;
  color: #fee600;
}

.bullet {
  font-family: 'Telegraf Regular 400';
  font-size: 16px;
  line-height: 1.5em;
}

@media (max-width: 768px) {
  .sizeMain {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .h1 {
    font-size: 25px;
  }
  
  .backgroundImage {
    width: 100%;
    height: 100%;
  }

}

