.usersSubSub {
  background-color: #fee600;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cardTop {
  width: 100%;
  display: flex;
  margin-top: -5rem;
  justify-content: center; 
  align-items: center;
}

.usersImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.cardBottom {
  margin-top: 20px; 
  text-align: left; 
}

.usersMain {
  display: grid;
  width: 100%;
  gap: 30px;
  padding: 60px;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.users {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.h2 {
  font-family: 'Telegraf UltraBold 800';
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.h3 {
  font-family: 'Telegraf Regular 400';
  font-size: 24px;
  text-align: left;
  font-weight: normal;
}


.h1 {
  font-family: 'Telegraf UltraBold 800';
  font-size: 36px;
  margin-bottom: 3rem;
  font-weight: bold;
  text-align: center;
 
}

.para {
  font-family: 'Telegraf Regular 400';
  font-size: 16px;
  line-height: 1.5em;
  margin-top: 20px;
}

.imageContainer1 {
  width: 50%; 
  height: 25vh;
  background-image: url("/image/user.png");
  background-position: center;
  background-size: contain; 
  background-repeat: no-repeat; 
}

.imageContainer2 {
  width: 50%; 
  height: 25vh;
  background-image: url("/image/profile.png");
  background-position: center;
  background-size: contain; 
  background-repeat: no-repeat; 

}

.imageContainer3 {
  width: 50%; 
  height: 25vh;
  background-image: url("/image/user6.png");
  background-position: center;
  background-size: contain; 
  background-repeat: no-repeat; 

}


@media (max-width: 768px) {
  .usersMain {
    grid-template-columns: 1fr;
    gap: 60px;
    padding: 20px;
  }

  .h1 {
    margin-top: -7rem;
    font-size: 25px;
  }

  .users {
    padding: 20px;
  }

  .cardTop {
    margin-top: -6rem;
  }
  
}
